@use 'base/variables' as v;
@use 'base/mixins' as m;

.repartidor{
    padding: 5rem 0;

    &__heading{
        text-align: center;
        color: v.$secundario;
    }

    &__grid{
        @include m.tablet{ 
            @include m.grid(2, 5rem);
            align-items: center;
         }
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
       
        
    }

    &__texto{
        color: v.$secundario;
        line-height: 1.5;
    }
    
    &__boton{
        @include m.boton(v.$primario, v.$blanco);
        
    }
}