@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar{
    margin-bottom: 5rem;
    &__contenido{
        background-color: v.$secundario;
        padding: 2rem;
        color: v.$blanco;
        text-align: center;
        width: 100%;
    }

    &__texto{
        color: v.$blanco;
        
        span{
            font-weight: 700;
        }
    }


}